canvas {
    -webkit-tap-highlight-color: transparent; /* Prevent tap highlight color on mobile */
    -webkit-user-select: none; /* Prevent user selection in WebKit browsers */
    -moz-user-select: none; /* Prevent user selection in Firefox */
    -ms-user-select: none; /* Prevent user selection in IE 10+ */
    user-select: none; /* Standard syntax to prevent user selection */
}

#controlPanel {
    padding: 7px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
#controlPanel input[type="number"] {
    width: 40px;
    margin-right: 2px;
}

#restartGame {
    /* no border, light red button, round edge, top and bottom padding, bold font */
    border: none;
    background-color: #ffcccc;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.infoButtons {
    /* no border, light blue button, round edge, top and bottom padding, bold font */
    border: none;
    background-color: #cceeff;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.utilityButtons {
    /* no border, light green button, round edge, top and bottom padding, bold font */
    border: none;
    background-color: #ccffcc;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.killButtons {
    /* light yellow */
    border: none;
    background-color: #ffffcc;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.spawnButtons {
    /* light green */
    border: none;
    background-color: #ccffcc;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.active {
    /* dark-green */
    border: none;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
   background-color: #009900;
}